.upsert_review_wrapper {
    width: 30%;
    margin-inline: auto;
    padding: 3rem;
}

.form_card {
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    padding: 3rem;
    background-color: white;
}

.upsert_form_header {
    text-align: center;
    color: #1b263b;
}

.upsert_form_header h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.upsert_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
}

.form_field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form_field label {
    font-size: 20px;
    color: #777777;
}

.form_field input, select, textarea {
    font-family: var(--font-family);
    padding: 8px;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid #1b263b;
    outline: none;
    resize: none;
}

.form_field input:focus {
    background-color: #283a5a1e;
}

.submit_button {
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
    font-size: 20px;
    padding: 12px 36px;
    background-color: #1b263b;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.submit_button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .upsert_form {
        width: 75%;
    }
}

